<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Order Placed</title>
</head>
<body>

<section>

    <!-- Order Success Message card -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-10 col-md-10 col-lg-6 offset-1 offset-md-10 offset-lg-3 mt-5">
                <div class="card p-5 shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-circle-check text-success h1"></i>
                        <p class="fs-3">Your order is completed</p>
                        <p class="fs-4">You can now download the model</p>
                        <a class="btn btn-secondary mb-3" href="/">Return to Home Page</a><br>
                        <a class="btn btn-secondary" href="/user/order">View Orders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>